In [ ]:
Question 22
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: prettytable in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///weather.db

In [4]:
%%sql
CREATE TABLE Weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);

 * sqlite:///weather.db
Done.

[]

In [5]:
%%sql
INSERT INTO Weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);

 * sqlite:///weather.db
4 rows affected.

[]

In [6]:
%%sql
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = date(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature;

 * sqlite:///weather.db
Done.

[(2,), (4,)]